tmp/[^.]*
log/[^.]*
tmp/*
doc/app
doc/api
.svn
*~
config/database.yml
public/images/tmp/*
.DS\_Store
.DS_Store
db/*.sqlite3
/log/*.pid
/coverage/*
public/system/*
.ackrc
public/assets/[^.]*
*.scssc
public/stylesheets/*.css
config/settings.yml
metadata
.bundle
.sass-cache
vendor/bundle
datafiles