%tr{:class => "#{cycle('rowWhite', 'rowBlue')}"}
  %td{:valign => "top"}
    = link_to(highlight(platform.geo_accession, @q), platform_url(platform))
  %td{:valign => "top"}
    = highlight(platform.organism, @q)
  %td{:valign => "top"}
    = highlight(platform.title, @q)
