%br
- if @platforms.size == 0
  %p
    No platforms found...
- else
  %p
    = found_count("platforms", @platforms)
  %p
    = render(:partial => "shared/pagination", :locals => {:items => @platforms})
  %br
  %table{:width => "100%", :border => "0", :cellpadding => "0", :cellspacing => "2"}
    %thead
      %tr.row-header
        %td{:width => "20%"}
          GEO accession
        %td{:width => "20%"}
          Organism
        %td{:width => "60%"}
          Title
    %tbody#staffTable
      = render(:partial => "platform", :collection => @platforms)
