- admin_only do
  = render(:partial => "shared/annotation_counts")
= page_title("Platforms")
%p
  %form{:name => "sform", :action => "", :style => "display:inline"}
    %label
      Filter on GEO accession or organism:
    = text_field_tag(:query, params['query'], :autocomplete => 'off') 
#dataTable
  = render(:partial => "platforms_list")
