%br
- if @series_items.size == 0
  %p
    No series found...
- else
  %p
    = found_count("series", @series_items)
  %p
    = render(:partial => "shared/pagination", :locals => {:items => @series_items})
  %br
  %table{:width => "100%", :border => "0", :cellpadding => "0", :cellspacing => "2"}
    %thead
      %tr.row-header
        %td{:width => "20%"}
          GEO accession
        %td{:width => "10%"}
          PubMed
        %td{:width => "70%"}
          Title
    %tbody#staffTable
      = render(:partial => "series_item", :collection => @series_items)
