= render(:partial => "shared/admin_box.html.haml", :locals => {:annotation_count_array => @annotation_count_array})
= page_title("Series")
%p
  %form{:name => "sform", :action => "", :style => "display:inline"}
    %label
      Filter on GEO accession or summary:
    = text_field_tag(:query, params['query'], :autocomplete => 'off')
.dataTable
  = render(:partial => "series_items_list")
