%br
- if @datasets.size == 0
  %p
    No datasets found...
- else
  %p
    = found_count("datasets", @datasets)
  %p
  - if @datasets.total_pages > 1
    = render(:partial => "shared/pagination", :locals => {:items => @datasets})
  %br
  %table{:width => "100%", :border => "0", :cellpadding => "0", :cellspacing => "2"}
    %thead
      %tr.rowHeader
        %td{:width => "20%"}
          %b
            GEO accession
        %td{:width => "20%"}
          %b
            PubMed
        %td{:width => "60%"}
          %b
            Title
    %tbody#staffTable
      = render(:partial => "dataset", :collection => @datasets)
