#graphs {
  position: relative;
  padding: 20px;
  overflow: hidden;
  overflow-y: auto; }

.graph_container {
  margin-bottom: 25px; }

.graph_title {
  color: #333;
  font-size: 16px;
  text-shadow: 0px 1px 1px #eee;
  margin-bottom: 10px; }

.graph {
  height: 150px; }

#container {
  position: relative; }

#right {
  float: left; }

#left {
  float: left;
  width: 40%; }

#right {
  left: 41%;
  width: 58%;
  position: absolute;
  z-index: 50;
  div.info {
    text-align: center;
    font-weight: bold; } }

.geo-audit-link {
  text-decoration: underline;
  cursor: pointer; }

.change {
  font-weight: bold; }

.previous-count {
  background-color: #eee; }

/* Generic context menu styles */

.contextMenu {
  position: absolute;
  width: 300px;
  z-index: 99999;
  border: solid 1px #CCC;
  background: #EEE;
  padding: 0px;
  margin: 0px;
  display: none;
  li {
    list-style: none;
    padding: 0px;
    margin: 0px; }
  a {
    color: #333;
    text-decoration: none;
    display: block;
    line-height: 20px;
    height: 20px;
    outline: none;
    padding: 1px 5px;
    padding-left: 10px;
    text-align: left; }
  li {
    &.hover a {
      color: #FFF;
      background-color: #3399FF; }
    &.disabled a {
      color: #AAA;
      cursor: default; }
    &.hover.disabled a {
      background-color: transparent; }
    &.separator {
      border-top: solid 1px #CCC; } } }

/*
  Adding Icons

  You can add icons to the context menu by adding
  classes to the respective LI element(s)
*/

.ac_results {
  padding: 0px;
  border: 1px solid WindowFrame;
  background-color: Window;
  overflow: hidden;
  z-index: 120;
  ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0; }
  iframe {
    display: none;
    /*sorry for IE5*/
    display/**/: block;
    /*sorry for IE5*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 120;
    filter: mask();
    width: 3000px;
    height: 3000px; }
  li {
    margin: 0px;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font: menu;
    font-size: 12px;
    overflow: hidden; } }

.ac_loading {
  background: Window url('/images/layout/indicator.gif') right center no-repeat; }

.ac_over {
  background-color: Highlight;
  color: HighlightText; }

.drop-shadow {
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888; }

.skip-annotations, .include-annotations {
  cursor: pointer;
  float: left;
  width: 50px;
  text-align: center;
  color: #fff;
  border: 1px solid #000;
  padding: 2px;
  background: #FF490D;
  margin-right: 5px;
  &:hover {
    color: #fff;
    background-color: #3399ff; } }

.include-annotations {
  color: #000;
  background: #1BFF84; }

.box {
  margin-top: 2px; }

.annotation-row {
  margin-left: 20px;
  clear: both;
  .annotation-field-name, .annotation-term_name, .annotation-ontology-name {
    float: left;
    width: 200px; } }