.white {
  color: #fff; }

.darkblue {
  color: #001f7f; }

.blue {
  color: #065590; }

.lightblue {
  color: #5282a6; }

.yellow {
  color: #ee4; }

.red {
  color: #b22; }

.green {
  color: #2b2; }

.darkgreen-bg {
  background: #202E2E; }

.middlegreen-bg {
  background: #266646; }

.lightgreen-bg {
  background: #64A354; }

.aqua-bg {
  background: #6DE0C2; }

.butter-bg {
  background: #FFFBC5; }

