@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

$arial: Arial, Helvetica, sans-serif;
$droid: 'Droid Sans', arial, serif;
$droid_mono: 'Droid Sans Mono', arial, serif;
