body {
  margin-top: 10px;
}

body, html {
  height: 100%;
  text-align: left;
  background-color: $page_background;
  color: $txt; }

a {
  color: $link; }

th {
  text-align: left; }

img {
  border: none; }

#loading {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 100;
  display: none; }

@mixin center-layout {
  /* center in viewport */
  /* fix page width */
  width: 940px;
  margin: auto;
  display: block;
  padding: 10px;
  position: relative; }

#header {
  background-color: $header_bg;
  margin-bottom: 5px;
  }

.header {
  @include center-layout;
  background-color: $main_bg;
  height: 90px; }

#content {
  background-color: $page_background; }

.main {
  @include center-layout;
  min-height: 500px;
  background-color: $main_bg; }

#nav {
  margin-top: -10px;
  background-color: $nav_bg; }

.navigation {
  @include center-layout;
  height: 20px;
  color: $nav_txt;
  position: relative;
  font-size: 16px;
  text-align: left;
  background-color: $nav_bg;
  a {
    color: $nav_link; } }

#footer {
  background: $page_background; }

.footer {
  padding-top: 10px;
  text-align: center;
  background: $page_background;
  color: $footer_link;
  a {
    color: $footer_link; }}

.gminer-logo {}

.mcw-logo, .ncbo-logo {
  margin-left: 50px; }

#user {
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 10px; }

#help {
  position: absolute;
  z-index: 5;
  top: 5px;
  right: 10px;
  top: 30px; }
