%br
- if @detections.size == 0
  %p
    No detections found...
- else
  %p
    = found_count("detections", @detections)
  %p
    = render(:partial => "shared/pagination", :locals => {:items => @detections})
  %br
  %table{:width => "100%", :border => "0", :cellpadding => "0", :cellspacing => "2"}
    %thead
      %tr.row-header
        %td{:width => "40%"}
          Probeset ID
        %td{:width => "20%"}
          Abs Call
        %td{:width => "40%"}
          Sample
    %tbody#staffTable
      = render(:partial => "detection", :collection => @detections)
