= form.input :ontology_id, :as => :select, :collection => Ontology.all, :include_blank => false
= form.input :geo_type, :as => :select, :label => "Item type", :collection => Constants::GEO_TYPES, :include_blank => false
.fields
  = render(:partial => "geo_type.html.haml")
