= link_to("Back", jobs_url)
%br
#graphs
  .graph_container
    .graph_title
      Pending Jobs
    #pending_graph.graph
  .graph_container
    .graph_title
      Active Jobs
    #active_graph.graph
  .graph_container
    .graph_title
      Active Workers
    #workers_graph.graph
%br{:clear => 'both'}