body, html {
  background-color: #5282a6;
}

a {
  color: #000;
}

th {
  text-align: left;
}

img {
  border: none;
}

#doc3 {
  padding-top: 5px;
}

.page-title {
  font-size: 182%;
  font-weight: bold;
  color: #2C2F22;
}

#header {
  height: 80px;
  margin: 0px;
  padding: 5px 5px 5px 10px;
  position: relative;
}

.mcw-logo {
  position: absolute;
  top: 0px;
  left: 20px;
}

.gminer-logo {
  position: absolute;
  left: 200px;
}

.ncbo-logo {
  position: absolute;
  right: 20px;
}

#user {
  margin-top: 1em;
  margin-bottom: 1em;
}

#user-bar {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  color: #000;
}

#main {
  min-height: 500px;
  margin: 0px;
  padding: 20px;
}

#navigation {
  height: 500px;
  margin: 0px;
  padding: 10px;
  color: #fff;
}

#navigation a {
  color: #fff;
}

#navigation h2 {
  text-align: center;
  background: #fff;
  border: 1px solid #000;
  color: #000;
}

#footer {
  padding: 20px;
  text-align: center;
  color: #fff;
}

.white {
  color: #fff;
}

.darkblue {
  color: #001f7f;
}

.blue {
  color: #065590;
}

.green {
  color: #007a74;
}

.lightblue {
  color: #5282a6;
}

.complete {
  background-color: #99ff99;
}
.working {
  background-color: #ffff99;
}
.created {
  background-color: #ff9999;
}

.row-header {
  color: #fff;
  background-color: #000;
}

/* Pagination */
.digg_pagination {
  margin-top: 10px;
  background: white;
  position: relative;
  left: 25%;
  width: 50%;
  /* self-clearing method: */
}
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px;
}
.digg_pagination span.disabled {
  color: #999;
  border: 1px solid #DDD;
}
.digg_pagination span.current, .digg_pagination em {
  font-weight: bold;
  background: #007a74;
  color: white;
  border: 1px solid #007a74;
}
.digg_pagination a {
  text-decoration: none;
  color: #007a74;
  border: 1px solid #007a74;
}
.digg_pagination a:hover, .digg_pagination a:focus {
  background-color: #001f7f;
  color: #003;
  border-color: #003;
}
.digg_pagination .page_info {
  background: #007a74;
  color: #fff;
  padding: .4em .6em;
  width: 30em;
  margin-bottom: .3em;
  text-align: center;
}
.digg_pagination .page_info b {
  color: #007a74;
  background: #fff;
  padding: .1em .25em;
}
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .digg_pagination {
  height: 1%;
}
*:first-child+html .digg_pagination {
  overflow: hidden;
}


/* Flash Messages */

.notice, .success, .warning, .validation {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url('/images/icons/success.png');
}

.notice {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('/images/icons/notice.png');
}

.warning {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('/images/icons/error.png');
}

.errorExplanation {
  background-color: #FFEAE8;
  border: 1px solid #FF8B7F;
  color: #000;
  text-align: left;
  vertical-align: top;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.errorExplanation h2 {
  color: #F0775E;
}

.errorExplanation ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 15px;
  padding: 3px;
}

.help {
  color: #000;
  background-color: #EEF3DC;
  border: thin solid #666666;
  padding: 10px;
}

.rowHeader {
  background-color: #D3D3D3;
  font-weight: bold;
}

.rowBlue {
  background-color: #C5D6FA;
}

.rowWhite {
  background-color: #FFFFFF;
}

.rowGrey {
  background-color: #D3D3D3;
}

.highlight {
  background-color: yellow;
}

.lightred {
  background-color: #ffffbb;
  padding-right: 5px;
  padding-left: 5px;
}

.red {
  background-color: red;
}

.validate-all, .invalidate-all {
  border: 1px solid #000;
  background: #ccccff;
  padding: 5px;
  cursor: pointer;
}

.context {
  cursor: pointer;
}

.full-text {
  padding: 5px;
  margin: 5px;
  border: 1px solid #000;
  background: #fff;
  display: none;
}

#annotation-count {
  position: absolute;
  top: 125px;
  right: 20px;
  padding: 5px;
  border: 1px solid #000;
  background: #eee;
  z-index: 100;
}

.ncbolink {
  color: #fff;
  background: #000;
  padding: 2px;
  font-size:108%;  
}

.home-cloud-box {
  width: 30%;
  float: left;
}

.cloud-box {
  border: 1px solid #000;
  margin: 1em;
}

.cloud-box-title {
  width: 100%;
  background: #ddd;
  text-align: center;
  font-weight: bold;
	font-size:123.1%; 
}

.cloud-box-content {
  height: 300px;
  padding: .2em;
  overflow: auto;
}

.cloud-box-content ol {
  margin: 0;
  margin-left: 0;
  padding: .5em;
}

.cloud-box-content a {
  text-decoration: none;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.cloud-box-content a:hover {
  text-decoration: underline;
}

/* display the individual items next to each other, not one-per-line */
.tag-cloud LI { display: inline; }
/* hide the extra context from CSS-enabled browsers, but not screenreaders */
.tag-cloud SPAN { position: absolute; left: -999px; width: 990px; }
/* size is purely presentational, based upon the class */
.tag-cloud .not-popular { font-size: 1em; }
.tag-cloud .not-very-popular { font-size: 1.3em; }
.tag-cloud .somewhat-popular { font-size: 1.6em; }
.tag-cloud .popular { font-size: 1.9em; }
.tag-cloud .very-popular { font-size: 2.2em; }
.tag-cloud .ultra-popular { font-size: 2.5em; }

.reference, .reference li, .accession, .accession li {
  display: inline;
  line-height: 2em;
  margin-left: 0;
  padding-left: 0;
}

.accession a, .reference a {
  text-decoration: none;
  border: 1px solid #000;
  padding: 2px;
  margin: 1px;
  white-space: nowrap;
}

.accession a {
  display: block;
  width: 85px;
  text-align: center;
  float: left;
}

.accession a {
  background: #ddf;
}

.reference a {
  background: #ddd;
}

#loading {
  position: absolute;
  top: 125px;
  right: 60px;
  z-index: 100;
  display: none;
}

.accession a:hover, .reference a:hover {
  text-decoration: underline;
}

.accession a:hover {
  background: #aaf;
}

.reference a:hover {
  background: #aaa;
}

#terms, #strains {
  width: 45%;
  float: left;
}

#results {
  width: 100%;
}

.delete-icon {
  vertical-align: -20%;
}

.result-filter {
  font-size: 1.5em;
}

.unverified, .verified, .unaudited {
  border: 1px solid #000;
  color: #fff;
  margin: .1em;
  padding: .2em;
  line-height: 2em;
}

.unaudited {
  background: #ee4;
  color: #000;
}

.unverified {
  color: #fff;
  background: #b22;
}

.verified {
  color: #fff;
  background: #2b2;
}

.quick-nav {
  width: 100%;
  position: relative;
  height: 50px;
  line-height: 1.2em;
}

.prv, .nxt {
  font-size: 1.2em;
  position: absolute;
  border: 1px solid #000;
  color: #000;
  background: #ee4;
  margin: .1em;
  padding: .2em;
  line-height: 2em;
  width: 20em;
  text-align: center;
}

.prv {
  left: 0em;
}

.nxt {
  right: 0em;
}

.tooltip {
  position: relative;
  cursor: help;
}

.popup {
  position: absolute;
  border: 1px solid #000;
  color: #000;
  background: #fff;
  z-index: 10;
  width: 300%;
  padding: 1em;
  display: none; /* keeps the popup hidden if no JS available */
}