= partial("shared/admin_nav") if session.user
%table{:width => "100%", :border => "0", :cellpadding => "0", :cellspacing => "2"}
  %thead
    %tr.rowHeader
      %td{:width => "20%"}
        %b
          Name
      %td{:width => "80%"}
        %b
          Value
  %tbody#dataTable
    = partial("shared/field", :with => item.fields, :item => item)
