%tr{ :class => cycle('row-odd', 'row-even') }
  %td{ :valign => "top", :width => "40%" }
    = ontology_name
  %td{ :valign => "top" }
    - if admin?
      = curate_link_list.html_safe
    - else
      = term_list.html_safe
