.cloud-box
  .cloud-box-title
    = title
  %br
  .cloud-box-content
    %ol.tag-cloud
      - term_cloud(terms, Constants::TAG_CLASSES) do |term, css_class|
        %li
          = link_to(term.name, ontology_term_url(term), :class => css_class)
