%script{ :type => "text/javascript", :src => "http://js.exceptionhub.com/javascripts/eh.js"}
%script{ :type => "text/javascript" }
  ExceptionHub.setup("1d6d67c5a1daab02f27388f9075e29ee", 67, 'production');
