- if !field[:value].blank?
  %tr
    %td{ :valign => "top" }
      = field[:name].humanize
    %td
      %span{ :id => field[:name] }
        = field[:value]
      .annotation-table(id="table-#{field[:name]}")
        = annotations_for(item, field[:name])
