- if !field[:value].blank?
  %tr
    %td{ :valign => "top" }
      = field[:name].humanize
    %td
      %span{ :id => field[:name] }
        = field[:value]
- if item.annotations_for(field[:name]).any?
  %tr
    %td
    %td
      = annotations_for(item, field[:name])
