#footer
  GMiner is developed through a
  = link_to("collaboration", "http://twigger.hmgc.mcw.edu/index.php/current-grants/ncbo/", :class => 'white', :target => "_blank")
  between the
  = link_to("Twigger Lab", "http://twigger.hmgc.mcw.edu/", :class => 'white', :target => "_blank")
  at the Medical College of Wisconsin and the
  = link_to("National Center for Biomedical Ontology", "http://bioontology.org/", :class => 'white', :target => "_blank")
