%ul#delete-menu.contextMenu
  %li{:class => "separator"}
    %a{:href => "#delete"}
      Delete
  %li{:class => "separator"}
    %a{:href => "#cancel"}
      Cancel
%ul#annotation-type-menu.contextMenu
  %li{:class => "separator"}
    %a{:href => "#tissue"}
      Tissue
  %li{:class => "separator"}
    %a{:href => "#text"}
      Text
  %li{:class => "separator"}
    %a{:href => "#strain_used"}
      Strain Used
  %li{:class => "separator"}
    %a{:href => "#cell_used"}
      Cell Used
