= page_title(t('.welcome'))
/[if lt IE 7]
  <p class="flash_error">
  = t('ie.upgrade_message', :upgrade_page_url => link_to(t('link.upgrade'), pages_path(:action => 'upgrade'), :target => :blank))
  </p>
%br
- @terms.each do |term|
  .home-cloud-box
    = render(:partial => "shared/cloud", :locals => {:terms => term[:values], :title => term[:title]})
%br{:clear => "both"}
