= page_title(t('.welcome'))
/[if lt IE 7]
  %meta(http-equiv="REFRESH" content="0;url=/pages/upgrade")
%br
- @terms.each do |term|
  .home-cloud-box
    = render(:partial => "shared/cloud", :locals => {:terms => term[:values], :title => term[:title]})
%br{:clear => "both"}
