%tr{:class => "#{cycle('row-odd', 'row-even')}"}
  %td{:valign => "top"}
    = geo_link(defined?(annotation.annotation) ? annotation.annotation.geo_accession : annotation.geo_accession)
  %td{:valign => "top"}
    = defined?(annotation.annotation) ? annotation.annotation.description : annotation.description
