%annotation
  %source= source
  %geo_accession= defined?(annotation.annotation) ? annotation.annotation.geo_accession : annotation.geo_accession
  %description= defined?(annotation.annotation) ? annotation.annotation.description : annotation.description
