%br
- if @ontology_terms.size == 0
  %p
    No ontology terms found...
- else
  %p
    = found_count("ontology terms", @ontology_terms)
  %p
    = render(:partial => "shared/pagination", :locals => {:items => @ontology_terms})
  %br
  %table{:width => "100%", :border => "0", :cellpadding => "0", :cellspacing => "2"}
    %thead
      %tr.row-header
        %td{:width => "50%"}
          Name
        %td{:width => "20%"}
          Annotation Count
        %td{:width => "30%"}
          Ontology Name
    %tbody#staffTable
      = render(:partial => "ontology_term", :collection => @ontology_terms)
