= page_title("Ontology Terms")
%p
  %form{:name => "sform", :action => "", :style => "display:inline"}
    %label
      Filter on name:
    = text_field_tag(:query, params['query'], :autocomplete => 'off') 
#dataTable
  = render(:partial => "ontology_terms_list")
