%br
- if @ontologies.size == 0
  %p
    No ontologies found...
- else
  %p
    = found_count("ontologies", @ontologies)
  %p
    = render(:partial => "shared/pagination.html.haml", :locals => {:items => @ontologies})
  %br
  %table{:width => "100%", :border => "0", :cellpadding => "0", :cellspacing => "2"}
    %thead
      %tr.row-header
        %td{:width => "30%"}
          Name
        %td{:width => "10%"}
          Version
        - if admin?
          %td{:width => "50%"}
            Stopwords
          %td{:width => "10%"}
            Action
    %tbody#staffTable
      = render(:partial => "ontology.html.haml", :collection => @ontologies)
