%h3
  = cloud_sample_count(@total_count)
%br
- if @annotations.any?
  = render(:partial => "shared/pagination", :locals => {:items => @annotations, :klass => 'cloud_pagination', :limit => false})
  %br
  %table{ :cellspacing => "2", :border => "0", :width => "100%", :cellpadding => "0"}
    %thead
      %tr.row-header
        %td{ :width => "20%" }
          GEO accession
        %td{ :width => "80%" }
          Description
    %tbody.dataTable
      = render(:partial => "short_annotation.html.haml", :collection => @annotations)
  %br{:clear => "all"}
- else
  Please select a term to begin filtering.
