%br
- if @annotations.size == 0
  %p
    No annotations found...
- else
  %p
    = found_count("annotations", @annotations)
  %p
  - if @annotations.total_pages > 1
    = render(:partial => "shared/pagination", :locals => {:items => @annotations})
  %br
  %table{:width => "100%", :border => "0", :cellpadding => "0", :cellspacing => "2"}
    %thead
      %tr.rowHeader
        %td{:width => "20%"}
          %b
            GEO accession
        %td{:width => "20%"}
          %b
            Term
        %td{:width => "60%"}
          %b
            Field value context
    %tbody#staffTable
      = render(:partial => "annotation", :collection => @annotations)
