// views/annotations/cloud.js.haml
== $("#annotations").html("#{escape_js(partial('annotations', :layout => false, :format => :html))}");
== $("#terms").html("#{escape_js(partial("cloud", :title => "Anatomy terms", :terms => @anatomy_terms, :layout => false, :format => :html))}");
== $("#strains").html("#{escape_js(partial("cloud", :title => "Rat Strains", :terms => @rat_strain_terms, :layout => false, :format => :html))}");
