%table{:width => "100%", :border => "0", :cellpadding => "0", :cellspacing => "2"}
  %thead
    %tr.row-header
      %td(colspan='2')
      %td(colspan='3' align='center')
        Samples where
      %td(colspan='3')
    %tr.row-header
      %td{:width => "30%"}
        Name
      %td{:width => "10%"}
        Term ID
      %td{:width => "10%"}
        Present
      %td{:width => "10%"}
        Absent
      %td{:width => "10%"}
        Marginal
      %td{:width => "10%"}
        Total
      %td{:width => "10%"}
        Present %
      %td{:width => "10%"}
        Action
  %tbody#staffTable
    = render(:partial => "ontology_term.html.haml", :collection => items)
